<%- include('includes/head.ejs') %>
    </head>

    <body>
        <%- include('includes/navigation.ejs') %>
            <h1>Some error occurred!
                <p>we're working on fixing this, sorry for de inconvenience</p>
            </h1>

            <%- include('includes/end.ejs') %>